{% include "header.html" %}
<h1>urbis</h1>
<div class="container">
    <div class="row">
        <div class="col">
            <div class="float-end"><p class="fst-italic mb-2 text-muted text-end">«...urbis et orbis idem est»<br>Ovid</p></div>

        </div>
    </div>

<div class="row">
    <div class="col">
    <p>urbis is a Prototype for an extendable web-based evaluation platform for automated annotation processes based on <a href="https://github.com/orbis-eval/orbis_eval">orbis-eval</a></p>
    <p>The Prototype connects to the MongoDB designed for <a href="https://github.com/orbis-eval/orbis_2">orbis_2</a></p>
    </div>

</div>
    {% include "footer.html" %}