{% include "header.html" %}

<h1>{{ title }}</h1>
	<ul>
	{% for doc in document.find({"corpus_name": corpus_name }) %}
		<li><a href="{{url_for('view_document', document_id=doc['id'], document_no=loop.index , corpus_name=corpus_name)}}">Document #{{loop.index}} </a>- <a href="{{url_for('show_annotations', document_id=doc['id'], document_no=loop.index , corpus_name=corpus_name)}}">Show Annotations</a> - <em>{{ doc['content'].strip().splitlines()[0]}}</em> </li>
	{% endfor %}
	</ul>

{% include "footer.html" %}