{% include "header.html" %}

<h1>{{ title }}</h1>
<div class="container">


	{% for doc in document.find({"corpus_name": corpus_name }) %}
	<div class="card overflow-hidden">
		<div class="card-body overflow-hidden text-nowrap">
		<h5 class="card-title">Document #{{loop.index}}</h5>
			<p class="mb-2 text-muted card-text overflow-hidden text-nowrap">{{ doc['content'].replace("\n", " ").strip().splitlines()[0][0:300]}}</p>
			<a class="card-link" href="{{url_for('view_document', document_id=doc['id'], document_no=loop.index , corpus_name=corpus_name)}}"> View Document </a>

			<a class="card-link" href="{{url_for('show_annotations', document_id=doc['id'], document_no=loop.index , corpus_name=corpus_name)}}">Show Annotations</a>

		</div>
		</div>
	{% endfor %}


{% include "footer.html" %}